# Ignore Visual Studio workspace folder
.vs/

# Ignore Python virtual environments
.venv/
venv/
env/

# Byte-compiled / cached files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/